RewriteEngine On

RewriteBase /
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^mietexplosion-stoppen\.ch [OR]
RewriteCond %{HTTP_HOST} ^www\.mietexplosion-stoppen\.ch
RewriteRule .* https://mietexplosion-stoppen.ch%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]