#app-content {
    min-height: 100vh;
    display: flex;
    justify-content: start;
}

#app-content .app-inner {
    width: 90%;
    max-width: 793px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin: auto;
    text-align: center;
}

