/* Webfont: Clinton-ExtraBold */@font-face {
    font-family: 'ClintonExtBd';
    src: url('Clinton-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('Clinton-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Clinton-ExtraBold.woff') format('woff'), /* Modern Browsers */
         url('Clinton-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Clinton-ExtraBold.svg#Clinton-ExtraBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

